<h1>Please enter the details about your reservation</h1>

<%= form_with model: @reservations do |f| %>
  <%= f.label :start_date %>
  <%= f.text_field :start_date %>
  <%= f.label :end_date %>
  <%= f.text_field :end_date %>
  <%= f.label :price %>
  <%= f.number_field :price %>
  <%= f.label :total %>
  <%= f.number_field :total %>

  <hr>

  <h1>Pet details</h1>

  <%= f.label :pet_age %>
  <%= f.number_field :pet_age %>
  <%= f.label :pet_size %>
  <%= f.number_field :pet_size %>
  <%= f.label :pet_description %>
  <%= f.text_field :pet_description %>
  <%= f.submit %>
<% end %>
