<h1 class="log-in"> Reservas </h1>
<% @reservations.each do |reservation| %>
   <p>Description: <%= reservation.pet_description %></p>
   <p>Fecha de entrada: <%= reservation.start_date %></p>
   <p>Fecha de salida: <%= reservation.end_date %></p>
   <p>Dias de estancia: <%= ((reservation.end_date - reservation.start_date).to_i) %></p>
   <br>

<% end %>

<button class="btn btn-home"> <%= link_to "Volver al listado", lodgings_path, class: "btn-home" %> </button>
