<h1>Please enter the details about your reservation</h1>

  <div class="container">
  <%= simple_form_for [@lodging, @reservation] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date, as: :date %>
    <br>
    <br>
    <h1>Pet details</h1>
    <%= f.input :pet_age, as: :integer %>
    <%= f.input :pet_size %>
    <%= f.input :pet_description%>
    <%= f.submit "Reservar", class: "btn btn-primary" %>
  <% end %>
  </div>

<%= link_to "Volver al lodging", lodging_path(params[:lodging_id]) %>
